# Import Dependencies

In [7]:
import math
import requests
import datetime
import json
import urllib
import pandas as pd
import concurrent
from concurrent.futures import ALL_COMPLETED
from requests import Session
from functools import partial
from datetime import date
from six.moves.urllib.parse import urlparse
import re

# Define Helper Functions

## F&O

In [8]:
def get_data(querystring, rename=0):
    url = "https://www.nseindia.com/api/historical/foCPV"
    headers = {"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36"}
    cookies = fetch_cookies()
    response = requests.request("GET", url, headers=headers, params=querystring, cookies=cookies)
    data = json.loads(response.text)["data"]
    df = pd.DataFrame(data)
    if rename:
        header = ["id","instrument","symbol","expiry_date","strike_price","option_type","market_type","opening_price","trade_high_price","trade_low_price","closing_price","last_traded_price","prev_cls","settle_price","tot_traded_qty","tot_traded_val","open_int","change_in_oi","market_lot","short_timestamp","long_timestamp","underlying_value"]
        df.columns = header
    return df

def get_adjusted_headers():
    return {
        'Host': 'www.nseindia.com',
        'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:85.0) Gecko/20100101 Firefox/85.0',
        'Accept': '*/*',
        'Accept-Language': 'en-US,en;q=0.5',
        'Accept-Encoding': 'gzip, deflate, br',
        'X-Requested-With': 'XMLHttpRequest',
        'DNT': '1',
        'Connection': 'keep-alive',
    }

def fetch_cookies():
    BASE_URL = 'https://www.nseindia.com/'
    response = requests.get(BASE_URL, timeout=30, headers=get_adjusted_headers())
    if response.status_code != requests.codes.ok:
        # logging.error("Fetched url: %s with status code: %s and response from server: %s" % (
        #     BASE_URL, response.status_code, response.content))
        raise ValueError("Please try again in a minute.")
    return response.cookies.get_dict()

## Expiry

In [9]:
idx_exp = {}
vix_exp = {}
stk_exp = {}

def add_dt(instru, dt):
    if not dt.year in instru:
        instru[dt.year] = {}

    if not dt.month in instru[dt.year]:
        instru[dt.year][dt.month] = set()

    instru[dt.year][dt.month].add(dt)

def get_file():
    import http.client
    # fetch_cookies()
    conn = http.client.HTTPSConnection("www1.nseindia.com")
    payload = ""
    headers = {
        'Accept': "*/*",
        'Connection': "keep-alive",
        'Content-Type': "application/x-javascript"
        }
    conn.request("GET", "/products/resources/js/foExp.js", payload, headers)
    res = conn.getresponse()
    data = res.read()
    # print(data.decode("utf-8"))
    return data.decode("utf-8")

def build_dt_dict():
    re_date = re.compile("([0-9]{2}\-[0-9]{2}\-[0-9]{4})")
    lines = get_file()
    for line in lines.split('\n'):
        s = re_date.search(line)
        if s:
            dt = datetime.datetime.strptime(s.group(1), "%d-%m-%Y").date()
            # Start Kludge
            # The list on NSE portal for expiry date has a wrong entry for 20 Sep 2019
            # Handle this oulier use case by ignoring this date and skpping it for processing
            if dt == datetime.datetime(2019, 9, 20).date():
                continue
            # End Kludge
            if line.find('indxExpryDt') > -1:
                try:
                    existing_date = try_to_get_expiry_date(
                        dt.year, dt.month, index=True)
                    if existing_date < dt:
                        add_dt(idx_exp, dt)
                except:
                    add_dt(idx_exp, dt)
            if line.find('stk') > -1:
                try:
                    existing_date = try_to_get_expiry_date(
                        dt.year, dt.month, index=False, stock=False, vix=False)
                    if existing_date < dt:
                        add_dt(stk_exp, dt)
                except:
                    add_dt(stk_exp, dt)
            if line.find('vix') > -1:
                try:
                    existing_date = try_to_get_expiry_date(
                        dt.year, dt.month, index=False, stock=False, vix=True)
                    if existing_date < dt:
                        add_dt(vix_exp, dt)
                except:
                    add_dt(vix_exp, dt)


def try_to_get_expiry_date(year, month, index=True, stock=False, vix=False):
    try:
        if vix and vix_exp:
            return vix_exp[year][month]
        if stock and stk_exp:
            return stk_exp[year][month]
        if index and idx_exp:
            return idx_exp[year][month]
        raise Exception
    except:
        if index:
            name = 'index derivatives'
        elif stock:
            name = 'stock derivatives'
        else:
            name = 'vix derivatives'
        raise ExpiryDateError(
            'No expiry date found in the month of {}-{} for {}'.format(year, month, name))


def get_expiry_date(year, month, index=True, stock=False, vix=False, recursion=0):
    try:
        return try_to_get_expiry_date(year, month, index, stock, vix)
    except:
        if recursion > 1:
            raise
        else:
            pass
    #print("building dictionary")
    build_dt_dict()
    return get_expiry_date(year, month, index, stock, vix, recursion=recursion+1)

# Stock Futures

In [10]:
# # Stock futures (Similarly for index futures, set index = True)
# stock_fut = get_history(symbol="SBIN",
#                         start=date(2015,1,1),
#                         end=date(2015,1,10),
#                         futures=True,
#                         expiry_date=date(2015,1,29))

In [11]:
get_expiry_date(year=2023, month=2, stock=1)

{datetime.date(2023, 2, 23)}

In [12]:
querystring = {
    "from":"20-02-2023",
    "to":"20-04-2023",
    "instrumentType":"FUTSTK",
    "symbol":"ACC",
    "year":"2000",
    "expiryDate":"27-Apr-2023"}

get_data(querystring, rename=1)

,id,instrument,symbol,expiry_date,strike_price,option_type,market_type,opening_price,trade_high_price,trade_low_price,...,prev_cls,settle_price,tot_traded_qty,tot_traded_val,open_int,change_in_oi,market_lot,short_timestamp,long_timestamp,underlying_value
0,642f0450e2684b2e012c5c39,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1842.05,1882.05,1842,...,1848,1872.55,3000,5562412.5,56500,0,250,20-Feb-2023,1850.65,2023-02-19T18:30:00.000Z
1,642f045fe2684b2e013121e3,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1881,1886.3,1850,...,1872.55,1852.7,13250,24675287.5,61500,5000,250,21-Feb-2023,1828.4,2023-02-20T18:30:00.000Z
2,642f0426e2684b2e011e902e,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1834.95,1834.95,1740.35,...,1852.7,1772.15,31250,55707625,65000,3500,250,22-Feb-2023,1752.2,2023-02-21T18:30:00.000Z
3,642f048fe2684b2e014012fc,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1771.45,1778.7,1748.6,...,1772.15,1753,24000,42279750,76250,11250,250,23-Feb-2023,1727.55,2023-02-22T18:30:00.000Z
4,642f047ce2684b2e013a61e6,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1759.35,1771.6,1721.65,...,1753,1752.65,44250,77324537.5,83000,6750,250,24-Feb-2023,1730,2023-02-23T18:30:00.000Z
5,642f0461e2684b2e0131bd78,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1741.9,1747.9,1680.9,...,1752.65,1717.75,73750,125991450,95250,12250,250,27-Feb-2023,1694.8,2023-02-26T18:30:00.000Z
6,642f0452e2684b2e012cf63f,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1703.9,1792.45,1695.95,...,1717.75,1755.05,82750,144870412.5,97750,2500,250,28-Feb-2023,1731.7,2023-02-27T18:30:00.000Z
7,642f0492e2684b2e014101cc,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1768.3,1796.75,1761.25,...,1755.05,1790.7,45750,81532237.5,100750,3000,250,01-Mar-2023,1769.45,2023-02-28T18:30:00.000Z
8,642f043de2684b2e01263e3a,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1784.7,1829.95,1758.05,...,1790.7,1823.25,53750,96894662.5,105250,4500,250,02-Mar-2023,1801.35,2023-03-01T18:30:00.000Z
9,642f047ee2684b2e013ae3ea,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1877.1,1936,1849.6,...,1823.25,1911.35,98000,185664387.5,110000,4750,250,03-Mar-2023,1894.05,2023-03-02T18:30:00.000Z
10,642f043fe2684b2e0127224f,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1923.6,1950,1876,...,1911.35,1888.3,84000,160590000,108750,-1250,250,06-Mar-2023,1865.8,2023-03-05T18:30:00.000Z
11,642f0454e2684b2e012da6b9,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1877.45,1910.9,1870.4,...,1888.3,1907.8,38000,72044562.5,113500,4750,250,08-Mar-2023,1886.5,2023-03-07T18:30:00.000Z
12,642f0465e2684b2e0133161e,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1910.6,1910.65,1869.75,...,1907.8,1879.35,48250,90881037.5,116250,2750,250,09-Mar-2023,1860.1,2023-03-08T18:30:00.000Z
13,642f0482e2684b2e013c0e55,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1863.3,1878,1840.9,...,1879.35,1867.2,53250,99118125,115750,-500,250,10-Mar-2023,1846.9,2023-03-09T18:30:00.000Z
14,642f0441e2684b2e012778e3,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1870,1879.55,1782,...,1867.2,1788.75,102500,185647912.5,133000,17250,250,13-Mar-2023,1770,2023-03-12T18:30:00.000Z
15,642f0429e2684b2e011f9c01,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1785.45,1789.9,1711.5,...,1788.75,1754.75,127500,224376337.5,156750,23750,250,14-Mar-2023,1738.4,2023-03-13T18:30:00.000Z
16,642f0417e2684b2e0119663e,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1769.65,1791.1,1732,...,1754.75,1757.7,67500,118774050,164750,8000,250,15-Mar-2023,1740,2023-03-14T18:30:00.000Z
17,642f04a4e2684b2e0146e56f,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1748.45,1785.25,1737.05,...,1757.7,1771.6,47250,83382387.5,168000,3250,250,16-Mar-2023,1750.3,2023-03-15T18:30:00.000Z
18,642f0465e2684b2e013329b8,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1779.45,1783.05,1744.1,...,1771.6,1753.05,103000,181037575,208500,40500,250,17-Mar-2023,1730.4,2023-03-16T18:30:00.000Z
19,642f0494e2684b2e0141911c,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1746.45,1746.45,1691.05,...,1753.05,1714.95,159250,272473825,232000,23500,250,20-Mar-2023,1695.6,2023-03-19T18:30:00.000Z
20,642f0456e2684b2e012e5df1,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1724.8,1758,1715.1,...,1714.95,1742.85,113000,197093900,261750,29750,250,21-Mar-2023,1724.6,2023-03-20T18:30:00.000Z
21,642f0419e2684b2e011a4537,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1748.1,1764.3,1740,...,1742.85,1756.25,95250,166893200,277750,16000,250,22-Mar-2023,1738.35,2023-03-21T18:30:00.000Z
22,642f0469e2684b2e013498d6,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1748.05,1765.05,1741,...,1756.25,1749.95,430500,755566837.5,530250,252500,250,23-Mar-2023,1738.3,2023-03-22T18:30:00.000Z
23,642f042be2684b2e01202597,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1751.8,1758,1707.3,...,1749.95,1713.5,713250,1234119712.5,993500,463250,250,24-Mar-2023,1700.85,2023-03-23T18:30:00.000Z
24,642f046be2684b2e01351405,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1714,1720.95,1692.05,...,1713.5,1701.9,1741250,2969562887.5,2290250,1296750,250,27-Mar-2023,1684.95,2023-03-26T18:30:00.000Z
25,642f046ee2684b2e0135f6bd,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1703.8,1710.55,1602.9,...,1701.9,1627.75,2420750,3974041637.5,3470500,1180250,250,28-Mar-2023,1613.95,2023-03-27T18:30:00.000Z
26,642f0470e2684b2e0136b210,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1615.6,1663.3,1615.6,...,1627.75,1641.4,2842250,4677140375,4821250,1350750,250,29-Mar-2023,1625.9,2023-03-28T18:30:00.000Z
27,642f0484e2684b2e013cb565,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1655,1682,1641.65,...,1641.4,1677.25,1294500,2153379825,4882250,61000,250,31-Mar-2023,1667.2,2023-03-30T18:30:00.000Z
28,642f0443e2684b2e01286e44,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1682.8,1724,1661.8,...,1677.25,1718.4,1030500,1755305137.5,4892250,10000,250,03-Apr-2023,1709,2023-04-02T18:30:00.000Z
29,642f0472e2684b2e01374eda,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1710.65,1723.5,1681.3,...,1718.4,1699.45,1018000,1727708937.5,5118250,226000,250,05-Apr-2023,1687.95,2023-04-04T18:30:00.000Z
30,642f0496e2684b2e01423a42,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1704.7,1725,1688,...,1699.45,1716.7,784500,1342384112.5,5066750,-51500,250,06-Apr-2023,1712,2023-04-05T18:30:00.000Z
31,64340ac6e2684b2e010522ba,FUTSTK,ACC,27-Apr-2023,0.00,XX,N,1719.50,1760.00,1717.80,...,1716.70,1750.05,1205000,2102463637.50,5091000,24250.00,250,10-Apr-2023,1740.95,2023-04-09T18:30:00.000Z
32,64355983e2684b2e011dc6cd,FUTSTK,ACC,27-Apr-2023,0.00,XX,N,1752.80,1765.00,1738.05,...,1750.05,1743.05,592250,1035930800.00,5148000,57000.00,250,11-Apr-2023,1737.4,2023-04-10T18:30:00.000Z
33,6436a932e2684b2e01388cd6,FUTSTK,ACC,27-Apr-2023,0.00,XX,N,1737.00,1774.20,1737.00,...,1743.05,1761.85,1088500,1918998500.00,5157000,9000.00,250,12-Apr-2023,1758,2023-04-11T18:30:00.000Z
34,643809e68aff4802ed0cabed,FUTSTK,ACC,27-Apr-2023,0.00,XX,N,1774.90,1774.90,1750.00,...,1761.85,1769.50,1113250,1963332487.50,4946750,-210250.00,250,13-Apr-2023,1767.55,2023-04-12T18:30:00.000Z
35,643d65c9bf190328719a3d8e,FUTSTK,ACC,27-Apr-2023,0.00,XX,N,1775.00,1789.95,1756.05,...,1769.50,1786.90,1311500,2325783825.00,4508250,-438500.00,250,17-Apr-2023,1784.35,2023-04-16T18:30:00.000Z
36,643ea84abf19032871b29e17,FUTSTK,ACC,27-Apr-2023,0.00,XX,N,1787.20,1790.10,1744.70,...,1786.90,1760.65,1076500,1903155650.00,4304000,-204250.00,250,18-Apr-2023,1760.1,2023-04-17T18:30:00.000Z
37,643feac4bf19032871cd97c7,FUTSTK,ACC,27-Apr-2023,0.00,XX,N,1760.20,1778.00,1744.50,...,1760.65,1750.50,676250,1190708412.50,4258750,-45250.00,250,19-Apr-2023,1749.3,2023-04-18T18:30:00.000Z
38,644149f7bf190328711f7f7c,FUTSTK,ACC,27-Apr-2023,0.00,XX,N,1756.05,1760.45,1736.70,...,1750.50,1739.45,454000,792369287.50,4199000,-59750.00,250,20-Apr-2023,1738.1,2023-04-19T18:30:00.000Z

# Stock Options

In [13]:
# # Stock options (Similarly for index options, set index = True)
# stock_opt = get_history(symbol="SBIN",
#                         start=date(2015,1,1),
#                         end=date(2015,1,10),
#                         option_type="CE",
#                         strike_price=300,
#                         expiry_date=date(2015,1,29))

In [14]:
get_expiry_date(year=2023, month=2, stock=1)

{datetime.date(2023, 2, 23)}

In [15]:
querystring = {
    "from":"20-04-2023",
    "to":"20-05-2023",
    "instrumentType":"OPTSTK",
    "symbol":"ACC",
    "year":"2023",
    "expiryDate":"25-May-2023",
    "optionType":"CE"}

get_data(querystring, rename=0)

,_id,FH_INSTRUMENT,FH_SYMBOL,FH_EXPIRY_DT,FH_STRIKE_PRICE,FH_OPTION_TYPE,FH_MARKET_TYPE,FH_OPENING_PRICE,FH_TRADE_HIGH_PRICE,FH_TRADE_LOW_PRICE,...,FH_PREV_CLS,FH_SETTLE_PRICE,FH_TOT_TRADED_QTY,FH_TOT_TRADED_VAL,FH_OPEN_INT,FH_CHANGE_IN_OI,FH_MARKET_LOT,FH_TIMESTAMP,TIMESTAMP,FH_UNDERLYING_VALUE
0,644149f7bf1903287120027a,OPTSTK,ACC,25-May-2023,2300.00,CE,N,0.00,0.00,0.00,...,18.00,1.25,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
1,644149f7bf190328711f8920,OPTSTK,ACC,25-May-2023,2280.00,CE,N,0.00,0.00,0.00,...,19.60,1.50,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
2,644149f7bf1903287120065a,OPTSTK,ACC,25-May-2023,2260.00,CE,N,0.00,0.00,0.00,...,21.35,1.80,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
3,644149f7bf190328711f5f86,OPTSTK,ACC,25-May-2023,2240.00,CE,N,0.00,0.00,0.00,...,23.25,2.20,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
4,644149f7bf190328712000b7,OPTSTK,ACC,25-May-2023,2220.00,CE,N,0.00,0.00,0.00,...,25.25,2.65,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
5,644149f7bf190328711fe626,OPTSTK,ACC,25-May-2023,2200.00,CE,N,0.00,0.00,0.00,...,27.45,3.15,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
6,644149f7bf190328711fe687,OPTSTK,ACC,25-May-2023,2180.00,CE,N,0.00,0.00,0.00,...,29.80,3.80,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
7,644149f7bf190328711feb23,OPTSTK,ACC,25-May-2023,2160.00,CE,N,0.00,0.00,0.00,...,32.35,4.50,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
8,644149f7bf190328712003f8,OPTSTK,ACC,25-May-2023,2140.00,CE,N,0.00,0.00,0.00,...,35.10,5.40,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
9,644149f7bf190328711fd72b,OPTSTK,ACC,25-May-2023,2120.00,CE,N,0.00,0.00,0.00,...,38.05,6.40,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
10,644149f7bf190328711fb6ff,OPTSTK,ACC,25-May-2023,2100.00,CE,N,0.00,0.00,0.00,...,41.20,7.55,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
11,644149f7bf190328711ffc83,OPTSTK,ACC,25-May-2023,2080.00,CE,N,0.00,0.00,0.00,...,44.55,8.90,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
12,644149f7bf190328711fb865,OPTSTK,ACC,25-May-2023,2060.00,CE,N,0.00,0.00,0.00,...,48.20,10.50,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
13,644149f7bf190328711feb61,OPTSTK,ACC,25-May-2023,2040.00,CE,N,0.00,0.00,0.00,...,52.15,12.30,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
14,644149f7bf190328711fdf51,OPTSTK,ACC,25-May-2023,2020.00,CE,N,0.00,0.00,0.00,...,56.25,14.40,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
15,644149f7bf190328711fe8f3,OPTSTK,ACC,25-May-2023,2000.00,CE,N,7.00,8.50,6.00,...,6.50,16.80,1000,2007125.00,750,500.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
16,644149f7bf190328711fcd91,OPTSTK,ACC,25-May-2023,1980.00,CE,N,0.00,0.00,0.00,...,65.35,19.50,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
17,644149f7bf190328711fb176,OPTSTK,ACC,25-May-2023,1960.00,CE,N,0.00,0.00,0.00,...,70.30,22.60,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
18,644149f7bf190328711ff622,OPTSTK,ACC,25-May-2023,1940.00,CE,N,0.00,0.00,0.00,...,75.65,26.10,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
19,644149f7bf190328711f6f2d,OPTSTK,ACC,25-May-2023,1920.00,CE,N,0.00,0.00,0.00,...,81.35,30.00,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
20,644149f7bf190328711fd699,OPTSTK,ACC,25-May-2023,1900.00,CE,N,0.00,0.00,0.00,...,87.35,34.50,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
21,644149f7bf190328711fae84,OPTSTK,ACC,25-May-2023,1880.00,CE,N,0.00,0.00,0.00,...,93.75,39.30,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
22,644149f7bf190328711fd3d5,OPTSTK,ACC,25-May-2023,1860.00,CE,N,0.00,0.00,0.00,...,40.00,44.80,0,0.00,1000,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
23,644149f7bf190328711fa5ef,OPTSTK,ACC,25-May-2023,1840.00,CE,N,0.00,0.00,0.00,...,107.65,50.90,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
24,644149f7bf19032871200d56,OPTSTK,ACC,25-May-2023,1820.00,CE,N,0.00,0.00,0.00,...,115.15,57.55,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
25,644149f7bf190328711f924b,OPTSTK,ACC,25-May-2023,1800.00,CE,N,44.00,47.95,36.95,...,44.95,38.55,30500,56157537.50,60750,13250.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
26,644149f7bf19032871200d4e,OPTSTK,ACC,25-May-2023,1780.00,CE,N,55.00,55.00,55.00,...,55.00,72.95,250,458750.00,1750,250.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
27,644149f7bf190328711fa9f5,OPTSTK,ACC,25-May-2023,1760.00,CE,N,0.00,0.00,0.00,...,140.25,81.65,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
28,644149f7bf190328711f71e2,OPTSTK,ACC,25-May-2023,1740.00,CE,N,120.00,120.00,120.00,...,149.45,91.10,250,465000.00,250,250.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
29,644149f7bf190328711f8c48,OPTSTK,ACC,25-May-2023,1720.00,CE,N,0.00,0.00,0.00,...,159.15,101.30,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
30,644149f7bf190328711f7c96,OPTSTK,ACC,25-May-2023,1700.00,CE,N,99.85,100.00,90.00,...,104.90,112.20,4000,7189962.50,5750,2250.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
31,644149f7bf190328711fbfe3,OPTSTK,ACC,25-May-2023,1680.00,CE,N,0.00,0.00,0.00,...,179.80,123.85,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
32,644149f7bf190328711fe03b,OPTSTK,ACC,25-May-2023,1660.00,CE,N,0.00,0.00,0.00,...,190.80,136.25,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
33,644149f7bf190328711f9c78,OPTSTK,ACC,25-May-2023,1640.00,CE,N,0.00,0.00,0.00,...,202.25,149.35,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
34,644149f7bf190328711f819d,OPTSTK,ACC,25-May-2023,1620.00,CE,N,0.00,0.00,0.00,...,214.15,163.20,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
35,644149f7bf190328711fa64a,OPTSTK,ACC,25-May-2023,1600.00,CE,N,0.00,0.00,0.00,...,226.50,177.70,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
36,644149f7bf190328711ff270,OPTSTK,ACC,25-May-2023,1580.00,CE,N,0.00,0.00,0.00,...,239.30,192.75,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
37,644149f7bf190328711f83d6,OPTSTK,ACC,25-May-2023,1560.00,CE,N,0.00,0.00,0.00,...,252.65,208.45,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
38,644149f7bf190328711fa8dd,OPTSTK,ACC,25-May-2023,1540.00,CE,N,0.00,0.00,0.00,...,266.35,224.75,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
39,644149f7bf190328711fd143,OPTSTK,ACC,25-May-2023,1520.00,CE,N,0.00,0.00,0.00,...,280.50,241.55,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
40,644149f7bf190328712007ac,OPTSTK,ACC,25-May-2023,1500.00,CE,N,0.00,0.00,0.00,...,295.00,258.80,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
41,644149f7bf190328712009fc,OPTSTK,ACC,25-May-2023,1480.00,CE,N,0.00,0.00,0.00,...,309.95,276.50,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
42,644149f6bf190328711f5d4b,OPTSTK,ACC,25-May-2023,1460.00,CE,N,0.00,0.00,0.00,...,325.25,294.55,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
43,644149f7bf190328711fe67f,OPTSTK,ACC,25-May-2023,1440.00,CE,N,0.00,0.00,0.00,...,341.00,312.95,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
44,644149f7bf190328711fff89,OPTSTK,ACC,25-May-2023,1420.00,CE,N,0.00,0.00,0.00,...,357.05,331.65,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
45,644149f7bf190328711f98ec,OPTSTK,ACC,25-May-2023,1400.00,CE,N,0.00,0.00,0.00,...,373.50,350.55,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
46,644149f7bf190328711f89e5,OPTSTK,ACC,25-May-2023,1380.00,CE,N,0.00,0.00,0.00,...,390.25,369.70,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
47,644149f7bf190328711f9a0a,OPTSTK,ACC,25-May-2023,1360.00,CE,N,0.00,0.00,0.00,...,407.30,389.00,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
48,644149f7bf19032871200846,OPTSTK,ACC,25-May-2023,1340.00,CE,N,0.00,0.00,0.00,...,424.60,408.40,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1
49,644149f7bf190328711f75b4,OPTSTK,ACC,25-May-2023,1320.00,CE,N,0.00,0.00,0.00,...,442.25,427.95,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.1

# Index Futures

In [16]:
# nifty_fut = get_history(symbol="NIFTY",
#                         start=date(2015,1,1),
#                         end=date(2015,1,10),
#                         index=True,
#                         futures=True,
#                         expiry_date=date(2015,1,29))

In [17]:
get_expiry_date(year=2023, month=4)

{datetime.date(2023, 4, 3),
 datetime.date(2023, 4, 6),
 datetime.date(2023, 4, 11),
 datetime.date(2023, 4, 13),
 datetime.date(2023, 4, 25),
 datetime.date(2023, 4, 27)}

In [18]:
querystring = {
    "from":"13-05-2023",
    "to":"20-05-2023",
    "instrumentType":"FUTIDX",
    "symbol":"BANKNIFTY",
    "year":"2023"}

get_data(querystring, rename=1)

,id,instrument,symbol,expiry_date,strike_price,option_type,market_type,opening_price,trade_high_price,trade_low_price,...,prev_cls,settle_price,tot_traded_qty,tot_traded_val,open_int,change_in_oi,market_lot,short_timestamp,long_timestamp,underlying_value
0,6463591ff0912e8f612c6be8,FUTIDX,BANKNIFTY,29-Jun-2023,0.00,XX,N,43799.00,44169.65,43749.05,...,43869.35,44096.45,258800,11400061065.00,553250,104525.00,25,15-May-2023,2023-05-14T18:30:00.000Z,NaN
1,6463591ff0912e8f612c621d,FUTIDX,BANKNIFTY,27-Jul-2023,0.00,XX,N,43941.95,44220.40,43872.35,...,43942.00,44155.75,39420,1738749627.75,91980,10875.00,15,15-May-2023,2023-05-14T18:30:00.000Z,NaN
2,64635920f0912e8f612ccfa3,FUTIDX,BANKNIFTY,25-May-2023,0.00,XX,N,43757.20,44075.00,43630.05,...,43757.15,43999.80,2163575,95033988247.50,2321975,79275.00,25,15-May-2023,2023-05-14T18:30:00.000Z,NaN
3,646384d0f0912e8f61325d8c,FUTIDX,BANKNIFTY,29-Jun-2023,0.00,XX,N,44134.95,44194.00,43938.00,...,44096.45,43994.60,376375,16597023253.75,732125,178875.00,25,16-May-2023,2023-05-15T18:30:00.000Z,43903.7
4,646384cff0912e8f6132479c,FUTIDX,BANKNIFTY,27-Jul-2023,0.00,XX,N,44200.00,44235.00,44019.95,...,44155.75,44057.55,32175,1420053987.00,95580,3600.00,15,16-May-2023,2023-05-15T18:30:00.000Z,43903.7
5,646384cff0912e8f61324a2c,FUTIDX,BANKNIFTY,25-May-2023,0.00,XX,N,44050.05,44114.70,43842.90,...,43999.80,43903.15,2062775,90741731612.50,2249675,-72300.00,25,16-May-2023,2023-05-15T18:30:00.000Z,43903.7
6,6464d3e8f0912e8f6153883d,FUTIDX,BANKNIFTY,29-Jun-2023,0.00,XX,N,43946.85,44039.95,43571.90,...,43994.60,43823.90,447925,19615250076.25,864950,132825.00,25,17-May-2023,2023-05-16T18:30:00.000Z,43698.7
7,6464d3e8f0912e8f6153c187,FUTIDX,BANKNIFTY,27-Jul-2023,0.00,XX,N,44000.00,44092.00,43662.85,...,44057.55,43895.95,51585,2261439234.75,88650,-6930.00,15,17-May-2023,2023-05-16T18:30:00.000Z,43698.7
8,6464d3e8f0912e8f61538785,FUTIDX,BANKNIFTY,25-May-2023,0.00,XX,N,43880.60,43955.00,43465.00,...,43903.15,43721.15,2968150,129699410541.25,2080350,-169325.00,25,17-May-2023,2023-05-16T18:30:00.000Z,43698.7
9,6466327ff0912e8f61763882,FUTIDX,BANKNIFTY,29-Jun-2023,0.00,XX,N,44010.10,44134.05,43814.60,...,43823.90,43869.25,426775,18781396915.00,969350,104400.00,25,18-May-2023,2023-05-17T18:30:00.000Z,43752.3
10,6466327ef0912e8f6175ac0f,FUTIDX,BANKNIFTY,27-Jul-2023,0.00,XX,N,44095.15,44190.00,43895.95,...,43895.95,43935.30,55290,2436758736.75,94380,5730.00,15,18-May-2023,2023-05-17T18:30:00.000Z,43752.3
11,6466327ef0912e8f6175e9bf,FUTIDX,BANKNIFTY,25-May-2023,0.00,XX,N,43792.00,44057.85,43712.65,...,43721.15,43775.45,3028750,132974844398.75,2072825,-7525.00,25,18-May-2023,2023-05-17T18:30:00.000Z,43752.3
12,6467739df0912e8f619466d9,FUTIDX,BANKNIFTY,29-Jun-2023,0.00,XX,N,43984.95,44080.00,43630.00,...,43869.25,44042.30,504525,22120252343.75,1046900,77550.00,25,19-May-2023,2023-05-18T18:30:00.000Z,43969.4
13,6467739df0912e8f619489da,FUTIDX,BANKNIFTY,27-Jul-2023,0.00,XX,N,44000.00,44155.55,43713.00,...,43935.30,44111.10,59235,2602925657.25,98820,4440.00,15,19-May-2023,2023-05-18T18:30:00.000Z,43969.4
14,6467739df0912e8f61945fd4,FUTIDX,BANKNIFTY,25-May-2023,0.00,XX,N,43900.00,44016.80,43524.30,...,43775.45,43967.15,2907575,127280106187.50,1974400,-98425.00,25,19-May-2023,2023-05-18T18:30:00.000Z,43969.4

# Index Options

In [19]:
# nifty_opt = get_history(symbol="NIFTY",
#                         start=date(2015,1,1),
#                         end=date(2015,1,10),
#                         index=True,
#                         option_type='CE',
#                         strike_price=8200,
#                         expiry_date=date(2015,1,29))

In [20]:
get_expiry_date(year=2023, month=4)

{datetime.date(2023, 4, 3),
 datetime.date(2023, 4, 6),
 datetime.date(2023, 4, 11),
 datetime.date(2023, 4, 13),
 datetime.date(2023, 4, 25),
 datetime.date(2023, 4, 27)}

In [21]:
querystring = {
    "from":"13-05-2023",
    "to":"20-05-2023",
    "instrumentType":"OPTIDX",
    "symbol":"BANKNIFTY",
    "year":"2023",
    "optionType":"CE"}

get_data(querystring, rename=0)

,_id,FH_INSTRUMENT,FH_SYMBOL,FH_EXPIRY_DT,FH_STRIKE_PRICE,FH_OPTION_TYPE,FH_MARKET_TYPE,FH_OPENING_PRICE,FH_TRADE_HIGH_PRICE,FH_TRADE_LOW_PRICE,...,FH_PREV_CLS,FH_SETTLE_PRICE,FH_TOT_TRADED_QTY,FH_TOT_TRADED_VAL,FH_OPEN_INT,FH_CHANGE_IN_OI,FH_MARKET_LOT,FH_TIMESTAMP,TIMESTAMP,FH_UNDERLYING_VALUE
0,64635920f0912e8f612cd74c,OPTIDX,BANKNIFTY,29-Jun-2023,51000.00,CE,N,21.40,24.95,17.00,...,21.95,17.80,2275,116068945.00,2900,875.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
1,64635920f0912e8f612ce596,OPTIDX,BANKNIFTY,29-Jun-2023,50000.00,CE,N,0.00,0.00,0.00,...,98.55,133.20,0,0.00,0,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
2,64635920f0912e8f612cd57f,OPTIDX,BANKNIFTY,29-Jun-2023,49500.00,CE,N,19.15,26.75,19.15,...,18.70,22.55,5925,293419883.75,22950,400.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
3,6463591ff0912e8f612ca22d,OPTIDX,BANKNIFTY,29-Jun-2023,49000.00,CE,N,0.00,0.00,0.00,...,144.65,222.40,0,0.00,0,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
4,6463591ff0912e8f612c2dd3,OPTIDX,BANKNIFTY,29-Jun-2023,48500.00,CE,N,0.00,0.00,0.00,...,175.00,283.50,0,0.00,25,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
5,6463591ff0912e8f612c9a49,OPTIDX,BANKNIFTY,29-Jun-2023,48000.00,CE,N,32.55,41.50,32.35,...,32.25,38.45,44200,2123267981.25,33400,1050.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
6,6463591ff0912e8f612c42ff,OPTIDX,BANKNIFTY,29-Jun-2023,47500.00,CE,N,0.00,0.00,0.00,...,189.45,448.45,0,0.00,150,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
7,6463591ff0912e8f612cb648,OPTIDX,BANKNIFTY,29-Jun-2023,47000.00,CE,N,64.55,85.65,62.10,...,64.90,75.80,99925,4704057386.25,41900,-9500.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
8,6463591ff0912e8f612cad85,OPTIDX,BANKNIFTY,29-Jun-2023,46500.00,CE,N,99.05,131.00,96.55,...,102.55,117.65,73625,3432193106.25,121825,11450.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
9,6463591ff0912e8f612ca3ee,OPTIDX,BANKNIFTY,29-Jun-2023,46300.00,CE,N,0.00,0.00,0.00,...,524.55,740.65,0,0.00,0,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
10,64635920f0912e8f612ce25c,OPTIDX,BANKNIFTY,29-Jun-2023,46200.00,CE,N,0.00,0.00,0.00,...,542.40,770.55,0,0.00,0,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
11,6463591ff0912e8f612c94d7,OPTIDX,BANKNIFTY,29-Jun-2023,46100.00,CE,N,0.00,0.00,0.00,...,560.80,801.35,0,0.00,0,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
12,6463591ff0912e8f612c9c7e,OPTIDX,BANKNIFTY,29-Jun-2023,46000.00,CE,N,159.30,206.80,155.95,...,161.85,187.25,120950,5586358450.00,50300,39425.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
13,6463591ff0912e8f612cbf72,OPTIDX,BANKNIFTY,29-Jun-2023,45900.00,CE,N,0.00,0.00,0.00,...,589.85,865.80,0,0.00,0,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
14,6463591ff0912e8f612c951b,OPTIDX,BANKNIFTY,29-Jun-2023,45800.00,CE,N,0.00,0.00,0.00,...,581.45,899.50,0,0.00,0,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
15,6463591ff0912e8f612cb711,OPTIDX,BANKNIFTY,29-Jun-2023,45700.00,CE,N,0.00,0.00,0.00,...,503.00,934.10,0,0.00,50,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
16,6463591ff0912e8f612c4449,OPTIDX,BANKNIFTY,29-Jun-2023,45600.00,CE,N,0.00,0.00,0.00,...,590.70,969.70,0,0.00,0,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
17,6463591ff0912e8f612cb918,OPTIDX,BANKNIFTY,29-Jun-2023,45500.00,CE,N,239.05,319.45,229.00,...,250.95,292.85,128975,5905201026.25,162050,16375.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
18,6463591ff0912e8f612cae2e,OPTIDX,BANKNIFTY,29-Jun-2023,45400.00,CE,N,0.00,0.00,0.00,...,628.85,1043.90,0,0.00,0,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
19,6463591ff0912e8f612ca2a9,OPTIDX,BANKNIFTY,29-Jun-2023,45300.00,CE,N,0.00,0.00,0.00,...,648.65,1082.55,0,0.00,0,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
20,64635920f0912e8f612cda48,OPTIDX,BANKNIFTY,29-Jun-2023,45200.00,CE,N,0.00,0.00,0.00,...,669.00,1122.15,0,0.00,0,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
21,6463591ff0912e8f612c823c,OPTIDX,BANKNIFTY,29-Jun-2023,45100.00,CE,N,0.00,0.00,0.00,...,689.90,1162.85,0,0.00,0,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
22,6463591ff0912e8f612ca6a5,OPTIDX,BANKNIFTY,29-Jun-2023,45000.00,CE,N,366.00,476.40,349.45,...,386.00,439.35,175425,7970782953.75,243275,18800.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
23,64635920f0912e8f612ccc86,OPTIDX,BANKNIFTY,29-Jun-2023,44900.00,CE,N,0.00,0.00,0.00,...,596.05,1247.35,0,0.00,0,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
24,6463591ff0912e8f612cb91b,OPTIDX,BANKNIFTY,29-Jun-2023,44800.00,CE,N,0.00,0.00,0.00,...,614.95,1291.15,0,0.00,0,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
25,64635920f0912e8f612cd788,OPTIDX,BANKNIFTY,29-Jun-2023,44700.00,CE,N,478.35,593.95,468.70,...,490.80,550.70,3050,137964675.00,2275,1650.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
26,6463591ff0912e8f612c44e3,OPTIDX,BANKNIFTY,29-Jun-2023,44600.00,CE,N,0.00,0.00,0.00,...,654.25,1382.00,0,0.00,0,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
27,6463591ff0912e8f612c8e81,OPTIDX,BANKNIFTY,29-Jun-2023,44500.00,CE,N,517.65,685.90,517.65,...,569.90,640.30,67675,3054175693.75,65000,13375.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
28,6463591ff0912e8f612c4e48,OPTIDX,BANKNIFTY,29-Jun-2023,44400.00,CE,N,663.50,733.00,654.95,...,695.60,686.35,3325,149902495.00,2450,2450.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
29,64635920f0912e8f612ce470,OPTIDX,BANKNIFTY,29-Jun-2023,44300.00,CE,N,630.00,780.00,630.00,...,657.35,726.00,2300,103576797.50,2700,1175.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
30,64635920f0912e8f612ce49e,OPTIDX,BANKNIFTY,29-Jun-2023,44200.00,CE,N,751.05,835.65,735.95,...,740.45,783.20,6600,296841590.00,4075,4075.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
31,6463591ff0912e8f612cbcb1,OPTIDX,BANKNIFTY,29-Jun-2023,44100.00,CE,N,730.00,887.85,719.05,...,747.25,833.40,7925,356198502.50,7325,3275.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
32,6463591ff0912e8f612c7d26,OPTIDX,BANKNIFTY,29-Jun-2023,44000.00,CE,N,800.70,947.90,735.00,...,800.70,885.90,228250,10242801688.75,157900,-12775.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
33,6463591ff0912e8f612c7549,OPTIDX,BANKNIFTY,29-Jun-2023,43900.00,CE,N,849.95,993.60,832.00,...,853.00,946.00,8575,384499260.00,5625,3050.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
34,6463591ff0912e8f612c75ca,OPTIDX,BANKNIFTY,29-Jun-2023,43800.00,CE,N,904.75,1054.80,874.85,...,904.75,992.35,7475,334647976.25,5800,700.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
35,6463591ff0912e8f612caa60,OPTIDX,BANKNIFTY,29-Jun-2023,43700.00,CE,N,958.90,1114.00,921.95,...,958.90,1059.30,3850,172106822.50,5075,-475.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
36,6463591ff0912e8f612c75bc,OPTIDX,BANKNIFTY,29-Jun-2023,43600.00,CE,N,1000.00,1183.00,1000.00,...,1016.15,1113.05,2575,115171893.75,5525,-425.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
37,64635920f0912e8f612cc6e3,OPTIDX,BANKNIFTY,29-Jun-2023,43500.00,CE,N,1017.70,1249.95,995.95,...,1074.40,1179.75,58550,2615693685.00,131575,15575.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
38,6463591ff0912e8f612c7b1d,OPTIDX,BANKNIFTY,29-Jun-2023,43400.00,CE,N,1210.20,1320.00,1210.20,...,1140.20,2018.25,225,10046716.25,5825,25.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
39,6463591ff0912e8f612cc566,OPTIDX,BANKNIFTY,29-Jun-2023,43300.00,CE,N,1287.00,1353.55,1275.00,...,1185.45,1302.65,225,10037425.00,5275,-50.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
40,6463591ff0912e8f612c3891,OPTIDX,BANKNIFTY,29-Jun-2023,43200.00,CE,N,1275.00,1462.35,1275.00,...,1300.00,1377.40,325,14488985.00,4300,-25.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
41,6463591ff0912e8f612c8738,OPTIDX,BANKNIFTY,29-Jun-2023,43100.00,CE,N,1300.00,1300.00,1300.00,...,1315.00,2201.60,275,12210000.00,2775,-175.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
42,6463591ff0912e8f612c7fed,OPTIDX,BANKNIFTY,29-Jun-2023,43000.00,CE,N,1310.95,1595.00,1301.00,...,1393.30,1509.85,116425,5182407070.00,161100,60025.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
43,6463591ff0912e8f612caeaa,OPTIDX,BANKNIFTY,29-Jun-2023,42900.00,CE,N,1510.00,1600.00,1510.00,...,1474.50,1591.55,450,20013991.25,2400,225.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
44,6463591ff0912e8f612caf29,OPTIDX,BANKNIFTY,29-Jun-2023,42800.00,CE,N,1500.30,1698.80,1500.30,...,1555.70,1669.90,275,12215962.50,2225,150.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
45,6463591ff0912e8f612c9f21,OPTIDX,BANKNIFTY,29-Jun-2023,42700.00,CE,N,1576.15,1810.00,1576.15,...,1250.00,1723.45,275,12216496.25,2050,50.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
46,6463591ff0912e8f612c6565,OPTIDX,BANKNIFTY,29-Jun-2023,42600.00,CE,N,1664.15,1840.00,1654.60,...,1440.65,1825.65,275,12194557.50,3475,100.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
47,64635920f0912e8f612cc703,OPTIDX,BANKNIFTY,29-Jun-2023,42500.00,CE,N,1669.30,1977.95,1669.30,...,1741.85,1899.25,9650,428132021.25,46725,5925.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
48,6463591ff0912e8f612c3a61,OPTIDX,BANKNIFTY,29-Jun-2023,42400.00,CE,N,1788.90,1892.15,1788.90,...,1714.65,2665.80,125,5528218.75,3550,50.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
49,6463591ff0912e8f612ca533,OPTIDX,BANKNIFTY,29-Jun-2023,42300.00,CE,N,1860.75,1950.35,1860.75,...,1778.35,2736.15,150,6630930.00,700,75.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None