# Import Dependencies

In [1]:
import requests
import datetime
import json
import pandas as pd
import re

# Define Helper Functions

## F&O

In [2]:
def get_data(querystring, rename=0):
    url = "https://www.nseindia.com/api/historical/foCPV"
    headers = {"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36"}
    cookies = fetch_cookies()
    response = requests.request("GET", url, headers=headers, params=querystring, cookies=cookies)
    data = json.loads(response.text)["data"]
    df = pd.DataFrame(data)
    if rename:
        header = ["id","instrument","symbol","expiry_date","strike_price","option_type","market_type","opening_price","trade_high_price","trade_low_price","closing_price","last_traded_price","prev_cls","settle_price","tot_traded_qty","tot_traded_val","open_int","change_in_oi","market_lot","short_timestamp","long_timestamp","underlying_value"]
        df.columns = header
    return df

def get_adjusted_headers():
    return {
        'Host': 'www.nseindia.com',
        'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:85.0) Gecko/20100101 Firefox/85.0',
        'Accept': '*/*',
        'Accept-Language': 'en-US,en;q=0.5',
        'Accept-Encoding': 'gzip, deflate, br',
        'X-Requested-With': 'XMLHttpRequest',
        'DNT': '1',
        'Connection': 'keep-alive',
    }

def fetch_cookies():
    BASE_URL = 'https://www.nseindia.com/'
    response = requests.get(BASE_URL, timeout=30, headers=get_adjusted_headers())
    if response.status_code != requests.codes.ok:
        # logging.error("Fetched url: %s with status code: %s and response from server: %s" % (
        #     BASE_URL, response.status_code, response.content))
        raise ValueError("Please try again in a minute.")
    return response.cookies.get_dict()

## Expiry

In [3]:
idx_exp = {}
vix_exp = {}
stk_exp = {}

def add_dt(instru, dt):
    if not dt.year in instru:
        instru[dt.year] = {}

    if not dt.month in instru[dt.year]:
        instru[dt.year][dt.month] = set()

    instru[dt.year][dt.month].add(dt)

def get_file():
    import http.client
    # fetch_cookies()
    conn = http.client.HTTPSConnection("www1.nseindia.com")
    payload = ""
    headers = {
        'Accept': "*/*",
        'Connection': "keep-alive",
        'Content-Type': "application/x-javascript"
        }
    conn.request("GET", "/products/resources/js/foExp.js", payload, headers)
    res = conn.getresponse()
    data = res.read()
    # print(data.decode("utf-8"))
    return data.decode("utf-8")

def build_dt_dict():
    re_date = re.compile("([0-9]{2}\-[0-9]{2}\-[0-9]{4})")
    lines = get_file()
    for line in lines.split('\n'):
        s = re_date.search(line)
        if s:
            dt = datetime.datetime.strptime(s.group(1), "%d-%m-%Y").date()
            # Start Kludge
            # The list on NSE portal for expiry date has a wrong entry for 20 Sep 2019
            # Handle this oulier use case by ignoring this date and skpping it for processing
            if dt == datetime.datetime(2019, 9, 20).date():
                continue
            # End Kludge
            if line.find('indxExpryDt') > -1:
                try:
                    existing_date = get_expiry_date(
                        dt.year, dt.month, index=True)
                    if existing_date < dt:
                        add_dt(idx_exp, dt)
                except:
                    add_dt(idx_exp, dt)
            if line.find('stk') > -1:
                try:
                    existing_date = get_expiry_date(
                        dt.year, dt.month, index=False, stock=False, vix=False)
                    if existing_date < dt:
                        add_dt(stk_exp, dt)
                except:
                    add_dt(stk_exp, dt)
            if line.find('vix') > -1:
                try:
                    existing_date = get_expiry_date(
                        dt.year, dt.month, index=False, stock=False, vix=True)
                    if existing_date < dt:
                        add_dt(vix_exp, dt)
                except:
                    add_dt(vix_exp, dt)


def get_expiry_date(year, month, index=True, stock=False, vix=False):
    try:
        if vix and vix_exp:
            return vix_exp[year][month]
        if stock and stk_exp:
            return stk_exp[year][month]
        if index and idx_exp:
            return idx_exp[year][month]
    except:
        if index:
            name = 'index derivatives'
        elif stock:
            name = 'stock derivatives'
        else:
            name = 'vix derivatives'
        # print(f'No expiry date found for {name}, year {year}, month {month}')


build_dt_dict()

# Stock Futures

In [4]:
# # Stock futures (Similarly for index futures, set index = True)
# stock_fut = get_history(symbol="SBIN",
#                         start=date(2015,1,1),
#                         end=date(2015,1,10),
#                         futures=True,
#                         expiry_date=date(2015,1,29))

In [5]:
get_expiry_date(year=2023, month=2, stock=1)

{datetime.date(2023, 2, 23)}

In [6]:
querystring = {
    "from":"20-02-2023",
    "to":"20-04-2023",
    "instrumentType":"FUTSTK",
    "symbol":"ACC",
    "year":"2000",
    "expiryDate":"27-Apr-2023"}

get_data(querystring, rename=1)

,id,instrument,symbol,expiry_date,strike_price,option_type,market_type,opening_price,trade_high_price,trade_low_price,...,prev_cls,settle_price,tot_traded_qty,tot_traded_val,open_int,change_in_oi,market_lot,short_timestamp,long_timestamp,underlying_value
0,642f0450e2684b2e012c5c39,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1842.05,1882.05,1842,...,1848,1872.55,3000,5562412.5,56500,0,250,20-Feb-2023,1850.65,2023-02-19T18:30:00.000Z
1,642f045fe2684b2e013121e3,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1881,1886.3,1850,...,1872.55,1852.7,13250,24675287.5,61500,5000,250,21-Feb-2023,1828.4,2023-02-20T18:30:00.000Z
2,642f0426e2684b2e011e902e,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1834.95,1834.95,1740.35,...,1852.7,1772.15,31250,55707625,65000,3500,250,22-Feb-2023,1752.2,2023-02-21T18:30:00.000Z
3,642f048fe2684b2e014012fc,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1771.45,1778.7,1748.6,...,1772.15,1753,24000,42279750,76250,11250,250,23-Feb-2023,1727.55,2023-02-22T18:30:00.000Z
4,642f047ce2684b2e013a61e6,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1759.35,1771.6,1721.65,...,1753,1752.65,44250,77324537.5,83000,6750,250,24-Feb-2023,1730,2023-02-23T18:30:00.000Z
5,642f0461e2684b2e0131bd78,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1741.9,1747.9,1680.9,...,1752.65,1717.75,73750,125991450,95250,12250,250,27-Feb-2023,1694.8,2023-02-26T18:30:00.000Z
6,642f0452e2684b2e012cf63f,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1703.9,1792.45,1695.95,...,1717.75,1755.05,82750,144870412.5,97750,2500,250,28-Feb-2023,1731.7,2023-02-27T18:30:00.000Z
7,642f0492e2684b2e014101cc,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1768.3,1796.75,1761.25,...,1755.05,1790.7,45750,81532237.5,100750,3000,250,01-Mar-2023,1769.45,2023-02-28T18:30:00.000Z
8,642f043de2684b2e01263e3a,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1784.7,1829.95,1758.05,...,1790.7,1823.25,53750,96894662.5,105250,4500,250,02-Mar-2023,1801.35,2023-03-01T18:30:00.000Z
9,642f047ee2684b2e013ae3ea,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1877.1,1936,1849.6,...,1823.25,1911.35,98000,185664387.5,110000,4750,250,03-Mar-2023,1894.05,2023-03-02T18:30:00.000Z
10,642f043fe2684b2e0127224f,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1923.6,1950,1876,...,1911.35,1888.3,84000,160590000,108750,-1250,250,06-Mar-2023,1865.8,2023-03-05T18:30:00.000Z
11,642f0454e2684b2e012da6b9,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1877.45,1910.9,1870.4,...,1888.3,1907.8,38000,72044562.5,113500,4750,250,08-Mar-2023,1886.5,2023-03-07T18:30:00.000Z
12,642f0465e2684b2e0133161e,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1910.6,1910.65,1869.75,...,1907.8,1879.35,48250,90881037.5,116250,2750,250,09-Mar-2023,1860.1,2023-03-08T18:30:00.000Z
13,642f0482e2684b2e013c0e55,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1863.3,1878,1840.9,...,1879.35,1867.2,53250,99118125,115750,-500,250,10-Mar-2023,1846.9,2023-03-09T18:30:00.000Z
14,642f0441e2684b2e012778e3,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1870,1879.55,1782,...,1867.2,1788.75,102500,185647912.5,133000,17250,250,13-Mar-2023,1770,2023-03-12T18:30:00.000Z
15,642f0429e2684b2e011f9c01,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1785.45,1789.9,1711.5,...,1788.75,1754.75,127500,224376337.5,156750,23750,250,14-Mar-2023,1738.4,2023-03-13T18:30:00.000Z
16,642f0417e2684b2e0119663e,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1769.65,1791.1,1732,...,1754.75,1757.7,67500,118774050,164750,8000,250,15-Mar-2023,1740,2023-03-14T18:30:00.000Z
17,642f04a4e2684b2e0146e56f,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1748.45,1785.25,1737.05,...,1757.7,1771.6,47250,83382387.5,168000,3250,250,16-Mar-2023,1750.3,2023-03-15T18:30:00.000Z
18,642f0465e2684b2e013329b8,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1779.45,1783.05,1744.1,...,1771.6,1753.05,103000,181037575,208500,40500,250,17-Mar-2023,1730.4,2023-03-16T18:30:00.000Z
19,642f0494e2684b2e0141911c,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1746.45,1746.45,1691.05,...,1753.05,1714.95,159250,272473825,232000,23500,250,20-Mar-2023,1695.6,2023-03-19T18:30:00.000Z
20,642f0456e2684b2e012e5df1,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1724.8,1758,1715.1,...,1714.95,1742.85,113000,197093900,261750,29750,250,21-Mar-2023,1724.6,2023-03-20T18:30:00.000Z
21,642f0419e2684b2e011a4537,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1748.1,1764.3,1740,...,1742.85,1756.25,95250,166893200,277750,16000,250,22-Mar-2023,1738.35,2023-03-21T18:30:00.000Z
22,642f0469e2684b2e013498d6,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1748.05,1765.05,1741,...,1756.25,1749.95,430500,755566837.5,530250,252500,250,23-Mar-2023,1738.3,2023-03-22T18:30:00.000Z
23,642f042be2684b2e01202597,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1751.8,1758,1707.3,...,1749.95,1713.5,713250,1234119712.5,993500,463250,250,24-Mar-2023,1700.85,2023-03-23T18:30:00.000Z
24,642f046be2684b2e01351405,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1714,1720.95,1692.05,...,1713.5,1701.9,1741250,2969562887.5,2290250,1296750,250,27-Mar-2023,1684.95,2023-03-26T18:30:00.000Z
25,642f046ee2684b2e0135f6bd,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1703.8,1710.55,1602.9,...,1701.9,1627.75,2420750,3974041637.5,3470500,1180250,250,28-Mar-2023,1613.95,2023-03-27T18:30:00.000Z
26,642f0470e2684b2e0136b210,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1615.6,1663.3,1615.6,...,1627.75,1641.4,2842250,4677140375,4821250,1350750,250,29-Mar-2023,1625.9,2023-03-28T18:30:00.000Z
27,642f0484e2684b2e013cb565,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1655,1682,1641.65,...,1641.4,1677.25,1294500,2153379825,4882250,61000,250,31-Mar-2023,1667.2,2023-03-30T18:30:00.000Z
28,642f0443e2684b2e01286e44,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1682.8,1724,1661.8,...,1677.25,1718.4,1030500,1755305137.5,4892250,10000,250,03-Apr-2023,1709,2023-04-02T18:30:00.000Z
29,642f0472e2684b2e01374eda,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1710.65,1723.5,1681.3,...,1718.4,1699.45,1018000,1727708937.5,5118250,226000,250,05-Apr-2023,1687.95,2023-04-04T18:30:00.000Z
30,642f0496e2684b2e01423a42,FUTSTK,ACC,27-Apr-2023,.00,XX,N,1704.7,1725,1688,...,1699.45,1716.7,784500,1342384112.5,5066750,-51500,250,06-Apr-2023,1712,2023-04-05T18:30:00.000Z
31,64340ac6e2684b2e010522ba,FUTSTK,ACC,27-Apr-2023,0.00,XX,N,1719.50,1760.00,1717.80,...,1716.70,1750.05,1205000,2102463637.50,5091000,24250.00,250,10-Apr-2023,1740.95,2023-04-09T18:30:00.000Z
32,64355983e2684b2e011dc6cd,FUTSTK,ACC,27-Apr-2023,0.00,XX,N,1752.80,1765.00,1738.05,...,1750.05,1743.05,592250,1035930800.00,5148000,57000.00,250,11-Apr-2023,1737.4,2023-04-10T18:30:00.000Z
33,6436a932e2684b2e01388cd6,FUTSTK,ACC,27-Apr-2023,0.00,XX,N,1737.00,1774.20,1737.00,...,1743.05,1761.85,1088500,1918998500.00,5157000,9000.00,250,12-Apr-2023,1758,2023-04-11T18:30:00.000Z
34,643809e68aff4802ed0cabed,FUTSTK,ACC,27-Apr-2023,0.00,XX,N,1774.90,1774.90,1750.00,...,1761.85,1769.50,1113250,1963332487.50,4946750,-210250.00,250,13-Apr-2023,1767.55,2023-04-12T18:30:00.000Z
35,643d65c9bf190328719a3d8e,FUTSTK,ACC,27-Apr-2023,0.00,XX,N,1775.00,1789.95,1756.05,...,1769.50,1786.90,1311500,2325783825.00,4508250,-438500.00,250,17-Apr-2023,1784.35,2023-04-16T18:30:00.000Z
36,643ea84abf19032871b29e17,FUTSTK,ACC,27-Apr-2023,0.00,XX,N,1787.20,1790.10,1744.70,...,1786.90,1760.65,1076500,1903155650.00,4304000,-204250.00,250,18-Apr-2023,1760.1,2023-04-17T18:30:00.000Z
37,643feac4bf19032871cd97c7,FUTSTK,ACC,27-Apr-2023,0.00,XX,N,1760.20,1778.00,1744.50,...,1760.65,1750.50,676250,1190708412.50,4258750,-45250.00,250,19-Apr-2023,1749.3,2023-04-18T18:30:00.000Z
38,644149f7bf190328711f7f7c,FUTSTK,ACC,27-Apr-2023,0.00,XX,N,1756.05,1760.45,1736.70,...,1750.50,1739.45,454000,792369287.50,4199000,-59750.00,250,20-Apr-2023,1738.1,2023-04-19T18:30:00.000Z

# Stock Options

In [7]:
# # Stock options (Similarly for index options, set index = True)
# stock_opt = get_history(symbol="SBIN",
#                         start=date(2015,1,1),
#                         end=date(2015,1,10),
#                         option_type="CE",
#                         strike_price=300,
#                         expiry_date=date(2015,1,29))

In [8]:
get_expiry_date(year=2023, month=2, stock=1)

{datetime.date(2023, 2, 23)}

In [9]:
querystring = {
    "from":"20-04-2023",
    "to":"20-05-2023",
    "instrumentType":"OPTSTK",
    "symbol":"ACC",
    "year":"2023",
    "expiryDate":"25-May-2023",
    "optionType":"CE"}

get_data(querystring, rename=0)

,_id,FH_INSTRUMENT,FH_SYMBOL,FH_EXPIRY_DT,FH_STRIKE_PRICE,FH_OPTION_TYPE,FH_MARKET_TYPE,FH_OPENING_PRICE,FH_TRADE_HIGH_PRICE,FH_TRADE_LOW_PRICE,...,FH_PREV_CLS,FH_SETTLE_PRICE,FH_TOT_TRADED_QTY,FH_TOT_TRADED_VAL,FH_OPEN_INT,FH_CHANGE_IN_OI,FH_MARKET_LOT,FH_TIMESTAMP,TIMESTAMP,FH_UNDERLYING_VALUE
0,644149f7bf1903287120027a,OPTSTK,ACC,25-May-2023,2300.00,CE,N,0.00,0.00,0.00,...,18.00,1.25,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.10
1,644149f7bf190328711f8920,OPTSTK,ACC,25-May-2023,2280.00,CE,N,0.00,0.00,0.00,...,19.60,1.50,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.10
2,644149f7bf1903287120065a,OPTSTK,ACC,25-May-2023,2260.00,CE,N,0.00,0.00,0.00,...,21.35,1.80,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.10
3,644149f7bf190328711f5f86,OPTSTK,ACC,25-May-2023,2240.00,CE,N,0.00,0.00,0.00,...,23.25,2.20,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.10
4,644149f7bf190328712000b7,OPTSTK,ACC,25-May-2023,2220.00,CE,N,0.00,0.00,0.00,...,25.25,2.65,0,0.00,0,0.00,250,20-Apr-2023,2023-04-19T18:30:00.000Z,1738.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,64428e4fbf1903287138481d,OPTSTK,ACC,25-May-2023,2100.00,CE,N,0.00,0.00,0.00,...,41.20,5.60,0,0.00,0,0.00,250,21-Apr-2023,2023-04-20T18:30:00.000Z,1717.95
66,64428e4fbf19032871382cdf,OPTSTK,ACC,25-May-2023,2080.00,CE,N,0.00,0.00,0.00,...,44.55,6.70,0,0.00,0,0.00,250,21-Apr-2023,2023-04-20T18:30:00.000Z,1717.95
67,64428e4fbf19032871384772,OPTSTK,ACC,25-May-2023,2060.00,CE,N,0.00,0.00,0.00,...,48.20,7.95,0,0.00,0,0.00,250,21-Apr-2023,2023-04-20T18:30:00.000Z,1717.95
68,64428e4fbf19032871381bb3,OPTSTK,ACC,25-May-2023,2040.00,CE,N,0.00,0.00,0.00,...,52.15,9.40,0,0.00,0,0.00,250,21-Apr-2023,2023-04-20T18:30:00.000Z,1717.95
69,64428e4fbf1903287137d747,OPTSTK,ACC,25-May-2023,2020.00,CE,N,0.00,0.00,0.00,...,56.25,11.10,0,0.00,0,0.00,250,21-Apr-2023,2023-04-20T18:30:00.000Z,1717.95

# Index Futures

In [10]:
# nifty_fut = get_history(symbol="NIFTY",
#                         start=date(2015,1,1),
#                         end=date(2015,1,10),
#                         index=True,
#                         futures=True,
#                         expiry_date=date(2015,1,29))

In [11]:
get_expiry_date(year=2023, month=4)

{datetime.date(2023, 4, 3),
 datetime.date(2023, 4, 6),
 datetime.date(2023, 4, 11),
 datetime.date(2023, 4, 13),
 datetime.date(2023, 4, 25),
 datetime.date(2023, 4, 27)}

In [12]:
querystring = {
    "from":"13-05-2023",
    "to":"20-05-2023",
    "instrumentType":"FUTIDX",
    "symbol":"BANKNIFTY",
    "year":"2023"}

get_data(querystring, rename=1)

,id,instrument,symbol,expiry_date,strike_price,option_type,market_type,opening_price,trade_high_price,trade_low_price,...,prev_cls,settle_price,tot_traded_qty,tot_traded_val,open_int,change_in_oi,market_lot,short_timestamp,long_timestamp,underlying_value
0,6463591ff0912e8f612c6be8,FUTIDX,BANKNIFTY,29-Jun-2023,0.00,XX,N,43799.00,44169.65,43749.05,...,43869.35,44096.45,258800,11400061065.00,553250,104525.00,25,15-May-2023,2023-05-14T18:30:00.000Z,NaN
1,6463591ff0912e8f612c621d,FUTIDX,BANKNIFTY,27-Jul-2023,0.00,XX,N,43941.95,44220.40,43872.35,...,43942.00,44155.75,39420,1738749627.75,91980,10875.00,15,15-May-2023,2023-05-14T18:30:00.000Z,NaN
2,64635920f0912e8f612ccfa3,FUTIDX,BANKNIFTY,25-May-2023,0.00,XX,N,43757.20,44075.00,43630.05,...,43757.15,43999.80,2163575,95033988247.50,2321975,79275.00,25,15-May-2023,2023-05-14T18:30:00.000Z,NaN
3,646384d0f0912e8f61325d8c,FUTIDX,BANKNIFTY,29-Jun-2023,0.00,XX,N,44134.95,44194.00,43938.00,...,44096.45,43994.60,376375,16597023253.75,732125,178875.00,25,16-May-2023,2023-05-15T18:30:00.000Z,43903.7
4,646384cff0912e8f6132479c,FUTIDX,BANKNIFTY,27-Jul-2023,0.00,XX,N,44200.00,44235.00,44019.95,...,44155.75,44057.55,32175,1420053987.00,95580,3600.00,15,16-May-2023,2023-05-15T18:30:00.000Z,43903.7
5,646384cff0912e8f61324a2c,FUTIDX,BANKNIFTY,25-May-2023,0.00,XX,N,44050.05,44114.70,43842.90,...,43999.80,43903.15,2062775,90741731612.50,2249675,-72300.00,25,16-May-2023,2023-05-15T18:30:00.000Z,43903.7
6,6464d3e8f0912e8f6153883d,FUTIDX,BANKNIFTY,29-Jun-2023,0.00,XX,N,43946.85,44039.95,43571.90,...,43994.60,43823.90,447925,19615250076.25,864950,132825.00,25,17-May-2023,2023-05-16T18:30:00.000Z,43698.7
7,6464d3e8f0912e8f6153c187,FUTIDX,BANKNIFTY,27-Jul-2023,0.00,XX,N,44000.00,44092.00,43662.85,...,44057.55,43895.95,51585,2261439234.75,88650,-6930.00,15,17-May-2023,2023-05-16T18:30:00.000Z,43698.7
8,6464d3e8f0912e8f61538785,FUTIDX,BANKNIFTY,25-May-2023,0.00,XX,N,43880.60,43955.00,43465.00,...,43903.15,43721.15,2968150,129699410541.25,2080350,-169325.00,25,17-May-2023,2023-05-16T18:30:00.000Z,43698.7
9,6466327ff0912e8f61763882,FUTIDX,BANKNIFTY,29-Jun-2023,0.00,XX,N,44010.10,44134.05,43814.60,...,43823.90,43869.25,426775,18781396915.00,969350,104400.00,25,18-May-2023,2023-05-17T18:30:00.000Z,43752.3
10,6466327ef0912e8f6175ac0f,FUTIDX,BANKNIFTY,27-Jul-2023,0.00,XX,N,44095.15,44190.00,43895.95,...,43895.95,43935.30,55290,2436758736.75,94380,5730.00,15,18-May-2023,2023-05-17T18:30:00.000Z,43752.3
11,6466327ef0912e8f6175e9bf,FUTIDX,BANKNIFTY,25-May-2023,0.00,XX,N,43792.00,44057.85,43712.65,...,43721.15,43775.45,3028750,132974844398.75,2072825,-7525.00,25,18-May-2023,2023-05-17T18:30:00.000Z,43752.3
12,6467739df0912e8f619466d9,FUTIDX,BANKNIFTY,29-Jun-2023,0.00,XX,N,43984.95,44080.00,43630.00,...,43869.25,44042.30,504525,22120252343.75,1046900,77550.00,25,19-May-2023,2023-05-18T18:30:00.000Z,43969.4
13,6467739df0912e8f619489da,FUTIDX,BANKNIFTY,27-Jul-2023,0.00,XX,N,44000.00,44155.55,43713.00,...,43935.30,44111.10,59235,2602925657.25,98820,4440.00,15,19-May-2023,2023-05-18T18:30:00.000Z,43969.4
14,6467739df0912e8f61945fd4,FUTIDX,BANKNIFTY,25-May-2023,0.00,XX,N,43900.00,44016.80,43524.30,...,43775.45,43967.15,2907575,127280106187.50,1974400,-98425.00,25,19-May-2023,2023-05-18T18:30:00.000Z,43969.4

# Index Options

In [13]:
# nifty_opt = get_history(symbol="NIFTY",
#                         start=date(2015,1,1),
#                         end=date(2015,1,10),
#                         index=True,
#                         option_type='CE',
#                         strike_price=8200,
#                         expiry_date=date(2015,1,29))

In [14]:
get_expiry_date(year=2023, month=4)

{datetime.date(2023, 4, 3),
 datetime.date(2023, 4, 6),
 datetime.date(2023, 4, 11),
 datetime.date(2023, 4, 13),
 datetime.date(2023, 4, 25),
 datetime.date(2023, 4, 27)}

In [15]:
querystring = {
    "from":"13-05-2023",
    "to":"20-05-2023",
    "instrumentType":"OPTIDX",
    "symbol":"BANKNIFTY",
    "year":"2023",
    "optionType":"CE"}

get_data(querystring, rename=0)

,_id,FH_INSTRUMENT,FH_SYMBOL,FH_EXPIRY_DT,FH_STRIKE_PRICE,FH_OPTION_TYPE,FH_MARKET_TYPE,FH_OPENING_PRICE,FH_TRADE_HIGH_PRICE,FH_TRADE_LOW_PRICE,...,FH_PREV_CLS,FH_SETTLE_PRICE,FH_TOT_TRADED_QTY,FH_TOT_TRADED_VAL,FH_OPEN_INT,FH_CHANGE_IN_OI,FH_MARKET_LOT,FH_TIMESTAMP,TIMESTAMP,FH_UNDERLYING_VALUE
0,64635920f0912e8f612cd74c,OPTIDX,BANKNIFTY,29-Jun-2023,51000.00,CE,N,21.40,24.95,17.00,...,21.95,17.80,2275,116068945.00,2900,875.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
1,64635920f0912e8f612ce596,OPTIDX,BANKNIFTY,29-Jun-2023,50000.00,CE,N,0.00,0.00,0.00,...,98.55,133.20,0,0.00,0,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
2,64635920f0912e8f612cd57f,OPTIDX,BANKNIFTY,29-Jun-2023,49500.00,CE,N,19.15,26.75,19.15,...,18.70,22.55,5925,293419883.75,22950,400.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
3,6463591ff0912e8f612ca22d,OPTIDX,BANKNIFTY,29-Jun-2023,49000.00,CE,N,0.00,0.00,0.00,...,144.65,222.40,0,0.00,0,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
4,6463591ff0912e8f612c2dd3,OPTIDX,BANKNIFTY,29-Jun-2023,48500.00,CE,N,0.00,0.00,0.00,...,175.00,283.50,0,0.00,25,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,6463591ff0912e8f612cb941,OPTIDX,BANKNIFTY,29-Jun-2023,40700.00,CE,N,0.00,0.00,0.00,...,1757.95,3983.25,0,0.00,75,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
66,6463591ff0912e8f612c7168,OPTIDX,BANKNIFTY,29-Jun-2023,40600.00,CE,N,0.00,0.00,0.00,...,3171.90,4067.80,0,0.00,350,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
67,6463591ff0912e8f612c3a85,OPTIDX,BANKNIFTY,29-Jun-2023,40500.00,CE,N,3524.85,3711.25,3524.85,...,3490.00,4153.05,600,26470543.75,16975,100.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
68,6463591ff0912e8f612c9f57,OPTIDX,BANKNIFTY,29-Jun-2023,40400.00,CE,N,0.00,0.00,0.00,...,2057.25,4238.90,0,0.00,0,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None
69,6463591ff0912e8f612c5e82,OPTIDX,BANKNIFTY,29-Jun-2023,40300.00,CE,N,0.00,0.00,0.00,...,1845.65,4325.40,0,0.00,400,0.00,25,15-May-2023,2023-05-14T18:30:00.000Z,None