### Import Dependencies

In [1]:
import urllib
import requests
import pandas as pd
import json

### Define Helper Functions

In [2]:
def get_headers():
    return {
        "Host": "www.nseindia.com",
        "User-Agent": "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:85.0) Gecko/20100101 Firefox/85.0",
        "Accept": "*/*",
        "Accept-Language": "en-US,en;q=0.5",
        "Accept-Encoding": "gzip, deflate, br",
        "X-Requested-With": "XMLHttpRequest",
        "DNT": "1",
        "Connection": "keep-alive",
    }

def get_corpinfo(start_date, end_date, symbol=None):
    """
    Create threads for different requests, parses data, combines them and returns dataframe
    Args:
        start_date (datetime.datetime): start date
        end_date (datetime.datetime): end date
        symbol (str, optional): stock symbol. Defaults to None. TODO: implement for index`
    Returns:
        Pandas DataFrame: df containing data for symbol of provided date range
    """
    cookies = get_cookies()
    params = {
        "symbol": symbol,
        "from_date": start_date,
        "to_date": end_date,
        "index": "equities",
    }
    # base_url = base_url
    base_url = "https://www.nseindia.com/"
    equity_corpinfo = "api/corporates-corporateActions?"
    price_api = equity_corpinfo
    url = base_url + price_api + urllib.parse.urlencode(params)
    return fetch_url(url, cookies)

def get_cookies():
    base_url = "https://www.nseindia.com/"
    response = requests.get(base_url, timeout=30, headers=get_headers())
    if response.status_code != requests.codes.ok:
        raise ValueError("Retry again in a minute.")
    return response.cookies.get_dict()


def fetch_url(url, cookies):
    response = requests.get(url, timeout=30, headers=get_headers(), cookies=cookies)
    if response.status_code == requests.codes.ok:
        json_response = json.loads(response.content)
        try:
            return pd.DataFrame.from_dict(json_response["data"])
        except:
            return pd.DataFrame.from_dict(json_response)
    else:
        raise ValueError("Please try again in a minute.")

### Scrape Directly to DataFrame

In [4]:
start_date = "01-03-2020"
end_date = "26-05-2023"
get_corpinfo(start_date, end_date, symbol="TCS")

,symbol,series,ind,faceVal,subject,exDate,recDate,bcStartDate,bcEndDate,ndStartDate,comp,isin,ndEndDate,caBroadcastDate
0,TCS,EQ,-,1,Interim Dividend - Rs 12 Per Share,19-Mar-2020,20-Mar-2020,-,-,-,Tata Consultancy Services Limited,INE467B01029,-,None
1,TCS,EQ,-,1,Dividend - Rs 6 Per Share,03-Jun-2020,04-Jun-2020,-,-,-,Tata Consultancy Services Limited,INE467B01029,-,None
2,TCS,EQ,-,1,Interim Dividend - Rs 5 Per Share,16-Jul-2020,17-Jul-2020,-,-,-,Tata Consultancy Services Limited,INE467B01029,-,None
3,TCS,EQ,-,1,Interim Dividend - Rs 12 Per Share,14-Oct-2020,15-Oct-2020,-,-,-,Tata Consultancy Services Limited,INE467B01029,-,None
4,TCS,EQ,-,1,Buyback,26-Nov-2020,28-Nov-2020,-,-,-,Tata Consultancy Services Limited,INE467B01029,-,None
5,TCS,EQ,-,1,Interim Dividend - Rs 6 Per Share,14-Jan-2021,16-Jan-2021,-,-,-,Tata Consultancy Services Limited,INE467B01029,-,None
6,TCS,EQ,-,1,Dividend - Rs 15 Per Share,25-May-2021,27-May-2021,-,-,-,Tata Consultancy Services Limited,INE467B01029,-,None
7,TCS,EQ,-,1,Interim Dividend - Rs 7 Per Share,15-Jul-2021,16-Jul-2021,-,-,-,Tata Consultancy Services Limited,INE467B01029,-,None
8,TCS,EQ,-,1,Interim Dividend - Rs 7 Per Share,14-Oct-2021,19-Oct-2021,-,-,-,Tata Consultancy Services Limited,INE467B01029,-,None
9,TCS,EQ,-,1,Interim Dividend - Rs 7 Per Share,19-Jan-2022,20-Jan-2022,-,-,-,Tata Consultancy Services Limited,INE467B01029,-,None
10,TCS,EQ,-,1,Buyback,22-Feb-2022,23-Feb-2022,-,-,-,Tata Consultancy Services Limited,INE467B01029,-,None
11,TCS,EQ,-,1,Dividend - Rs 22 Per Share,25-May-2022,26-May-2022,-,-,-,Tata Consultancy Services Limited,INE467B01029,-,None
12,TCS,EQ,-,1,Interim Dividend- Rs 8 Per Share,14-Jul-2022,16-Jul-2022,-,-,-,Tata Consultancy Services Limited,INE467B01029,-,None
13,TCS,EQ,-,1,Interim Dividend - Rs 8 Per Share,17-Oct-2022,18-Oct-2022,-,-,-,Tata Consultancy Services Limited,INE467B01029,-,None
14,TCS,EQ,-,1,Interim Dividend - Rs 8 Per Share Special Divi...,16-Jan-2023,17-Jan-2023,-,-,-,Tata Consultancy Services Limited,INE467B01029,-,None